<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>url-shortner</title>
</head>
<body>
    <h1>Url Shortner</h1>
    <form action="/" method="post">
        <label for="url">URL</label>
        <input required placeholder="url" type="url" id="url" name="url" />
        <button type="submit">Shrink!</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Full url</th>
                <th>Short url</th>
                <th>clicks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://Google.com">Google.com</a></td>
                <td><a href="/123">123</a></td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
</body>
</html>