* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: orangered;
    font-size: 1.2rem;
    font-weight: bold;

}

body {
    font-family: "Josefin Sans", "Segoe UI", Arial, sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.5;
    color: #ccd1dd;
    background-color: #f1f1f1;
    min-height: 100vh;
    position: relative;
}

/*Form*/

.container{
    width: 800px;
    background-color: #3b414e;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 30px 60px -5px #000;
    border-radius: 10px;
}
.header{
    margin: 20px ;
}
form{
    margin-top: 50px ;
}
.secondhead{
    font-size: 20px ;
    font-weight: lighter;
    color: #52C4D8;
    font-style: inherit;
}
.head{
    font-size: 45px;
    font-weight: bold;
    color: gold;
    letter-spacing:-4px ;
    font-family: 'Montserrat', sans-serif;

}
input{
    display: block;
    width:750px ;
    padding-top: 20px ;
    margin-left: 10px;
    margin-top: 20px ;
    background: none;
    border: none;
    font-size:22px;
    border-bottom: 1px solid white;
    color:white;

}
::-webkit-input-placeholder {
    color: white;
    font-size:16px;
}
input:focus{
    outline: none;
}
.last{
    margin-bottom: 35px
}
button{
    padding: 10px 40px ;
    margin-top: 10px ;
    font-size: 22px ;
    /*justify-content: center;*/
    margin-left: 300px ;
    background-color: #52C4D8;
    border: none;
    border-radius: 8px ;

}
button:hover{
    cursor: pointer;
}

/*--------------- */


/*Table */

.table-container {
    position: relative;
    top: 5rem;
    width: 100%;
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto 5em;
}
.table-container .inner {
    /*padding: 0 .8em;*/
    background-color: #3b414e;
    border-radius: 0.6em;
    overflow: hidden;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.table-container table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    background-color: #3b414e;
    overflow: hidden;
}
.table-container table tbody, .table-container table thead {
    padding: 0 1em;
}
.table-container table tr:not(:last-child) {
    border-bottom: 1px solid #464c59;
}
.table-container tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.table-container thead tr {
    border-bottom: 1px solid #464c59;
}
.table-container thead th {
    padding: 4em 1em 1em;
}
.table-container th, .table-container td {
    padding: 0.6em 1em;
    word-break: break-all;
}
.table-container.one tr:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.table-container.one thead tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.table__caption {
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0 auto;
    max-width: 95%;
    padding: 0.6em 1em;
    border-radius: 0.6em;
    background-color: #424959;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.4);
}
.table__header {
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 300;
}
.table__header--sub {
    font-size: 0.9em;
}

::-moz-selection {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

::selection {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

/*--------------- */
